<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 text-center px-4">
  <h1 class="text-4xl font-bold text-gray-900 mb-4">
    {{'landing-development.title' | translate}}
  </h1>
  <p class="text-lg text-gray-600 mb-8 max-w-xl">
    {{'landing-development.description' | translate}}
  </p>
  <a (click)="navigateToPortfolio()" class="px-6 py-3 bg-blue-600 text-white rounded-xl shadow-md hover:bg-blue-700 transition hover:cursor-pointer">
    {{'landing-development.button' | translate}}
  </a>
</div>
